body {
  background-color: #a6e3e9;
  margin:0;
  text-align: center;


}

h1 {
  color: #66BFBF;
  margin: 100px auto 0 auto;
font-size: 5.625rem;
font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Russo One', sans-serif;
}
h3 {
  font-family: 'Patrick Hand', cursive;
}
.coder {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  margin-top: 5px;
}
p {
  font-family: 'Mogra', cursive;
  font-size: 15px;
  line-height: 2;
}
.top-container{
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
padding-bottom: 50px;
}
.middle-container{

}
.bottom-container{
background-color: #00adb5;
padding: 50px 0 20px;
}
.cloud1 {
  position: absolute;
right: 250px;
top: 100px;

}
.cloud2 {
  position: absolute;
left: 250px;
}
.mountain {

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #e3fdfd;
  border-width: 10px;
  width: 6%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.chillies {width: 35%;
float: right;
margin-left: 100px;}
.code {width: 35%;
float: left;
margin-right: 100px;}
.me {width: 15%;

}
.h2 {
color:#11999E;
}
a {
  font-family: 'Rubik', sans-serif;
  color: black;
  font-family: 'Russo One', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: white;
}
.skills {
 width: 50%;
 margin: 100px auto 100px auto;
 text-align: left;
 line-height: 2;
}
.hobbies {
  margin: 100px auto 100px auto;
}
.intro{
  width:30%;
  text-align: center;
  margin: auto;

}
.profile {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #085f99;
  background-image: -webkit-linear-gradient(top, #085f99, #5db0e3);
  background-image: -moz-linear-gradient(top, #085f99, #5db0e3);
  background-image: -ms-linear-gradient(top, #085f99, #5db0e3);
  background-image: -o-linear-gradient(top, #085f99, #5db0e3);
  background-image: linear-gradient(to bottom, #085f99, #5db0e3);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Russo One', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2f3aba;
  background-image: -webkit-linear-gradient(top, #2f3aba, #6f6dc7);
  background-image: -moz-linear-gradient(top, #2f3aba, #6f6dc7);
  background-image: -ms-linear-gradient(top, #2f3aba, #6f6dc7);
  background-image: -o-linear-gradient(top, #2f3aba, #6f6dc7);
  background-image: linear-gradient(to bottom, #2f3aba, #6f6dc7);
  text-decoration: none;
}
.contact {
  margin-bottom: 50px;

}
.footer {
  font-size: 0.85em;
  padding: 20px 0;
}
.me1 {
  font-size: 40px;
  color: #00adb5;
  font-family: 'Russo One', sans-serif;
  width: 40%;
}
